*{
  padding: 0;
  margin: 0;
  font-family: Cinzel, sans-serif;
}
body{
  color: white;
  background-color: black;
}
h3{
  font-weight: bolder;
}
.btnContacto{
  font-weight: bolder;
}
.encabezado{
  min-width: 90vw;
}
.seccionPublicidad{
  background-image: url(/public/images/fondoPubli.png);
  background-size: cover;
  background-position: center;
}
.tarTexto{
  max-width: 500px;
}